<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedEase| Home Page</title>
    <link rel="stylesheet" href="/static/css/style.css">
    

</head>
<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="#">Patient Care</a></div>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#aboutus">ABOUT US</a></li>
                <li><a href="/signup/">LOGIN/SINGUP</a></li>
                <button><a href="#">CALL NOW</a></button>
            </ul>
        </div>
    </nav>
    
    <h1 class="centered-heading">
        Schedule Your Appointment Online
        <p class="discount-code">Chandigarh University</p>
    </h1>

    <div class="container">
        <form>
            <input class="bar1" type="text" placeholder="Search for Doctor...">
            <select class="bar2" id="locationSelect">
              <option value="">Search for Location...</option>
              <option value="chandigarh">Chandigarh</option>
              <option value="mohali">Mohali</option>
              <option value="garuan">Garuan</option>
              <option value="ambala">Ambala</option>
              <option value="zirakpur">Zirakpur</option>
              <option value="jalandhar">Jalandhar</option>
            </select>
            <button class="book"><a href="book">BOOK</a></button>
          </form>
          
          
    </div>
    <div class="image-container">
       
        <img src="/static/images/doctor-consult-illustration.svg">
        <h2>
            Get Best Doctors At Your Fingertips.
            <p class="text-down">
                Access top notch healthcare with ease our website connects you to the best doctors effortlessly.
            </p>
        </h2>
    </div>
    <hr>

    <p style="font-size: 40px; margin-top: 30px; margin-left: 100px;">Specialities</p>
    <div style="display: inline-flex;">
        <div class="left-disease">
            <p style="margin-top: 30px;"><img class="image" src="/static/images/cancer-ribbon-clipart-teal-7.png">Cancer-Care</p>
            <p style="margin-top: 30px;"><img class="image" src="/static/images/Dentalcare.png">Dental Care</p>
            <p style="margin-top: 30px;"><img class="image" src="/static/images/Darmatology.jpeg">Darmatology</p>
            <p style="margin-top: 30px;"><img class="image" src="/static/images/Cardiology.png">Cardiology</p>
        </div>
    </div>
        <div style="display: inline-flex;">
        <div class="right-disease">
            <p style="margin-top: 30px;"><img class="image" src="/static/images/ENT.jpeg">ENT (Ear-Nose-Throat)</p>
            <p style="margin-top: 30px;"><img class="image" src="/static/images/Gastroinstential.jpeg">Gastroinstential</p>
            <p style="margin-top: 30px;"><img class="image" src="/static/images/fertility.png">IVF Infertility</p>
            <p style="margin-top: 30px;"><img class="image" src="/static/images/lungtransplant.png">Lung Transplantation</p>
        </div>
    </div>
    <br>
    

    



    
    <div class="footer">
        <div class="left-footer">
            <p style="font-size: 40px;">Patient Care</p>
           

        </div>
        <div class="right-footer">
            <p style="margin: 10px;"><a href="#">Links</a></p>
            <p style="margin: 10px;"><a href="#aboutus">About Us</a></p>
            <p style="margin: 10px;"><a href="#">Leadership</a></p>
            <p style="margin: 10px;"><a href="#">Careers</a></p>
            <p style="margin: 10px;"><a href="#">Investor</a></p>
            <p style="margin: 10px;"><a href="#">Contact Us</a></p>
        </div>
        
    </div>


</body>
</html>
